* {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.container {
    width: 980px;
    height: 800px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.box {
    box-sizing: border-box;
    background-color: #ddd;
}

.active {
    background-color: red;
}